@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/* Global start */

:root {
  --darkBlue: #052f48;
  --darkBlueShadow: #052f4870;
  --redMat: #db4444;
  --softGray: #fafafa;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
  font-size: medium;
  background-color: #ffffff;
}

.text-red {
  color: var(--redMat);
}

.pointer {
  cursor: pointer;
}

.oneRem-font {
  font-size: 1rem;
}

.eighteen-font {
  font-size: 1.125rem;
}

.fourteen-font {
  font-size: 0.875rem;
}

.softGrayBg {
  background-color: var(--softGray) !important;
}

.buttonBack {
  background-color: var(--redMat);
  border: none;
  color: white;
}

.buttonBack:hover {
  background-color: #ca3838;
}

.buttonBack:active {
  background-color: #aa2b2b !important;
  border: none;
  outline: 0;
  box-shadow: none !important;
}

.buttonBack:focus {
  box-shadow: none;
  background-color: #aa2b2b;
  border: none;
  box-shadow: none;
}

.buttonBack:disabled {
  background-color: #f9cfcf !important;
  color: #eb7e7e;
  cursor: not-allowed;
}

.submitButton {
  background-color: var(--darkBlue);
  border: none !important;
  color: #ffffff;
  font-weight: 700;
}

.submitButton:hover,
.submitButton:active,
.submitButton:focus {
  background-color: #002337 !important;
}

.submitButton:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--darkBlueShadow);
}
.submitButton:disabled {
  background-color: #002337;
  cursor: not-allowed;
}

label {
  font-weight: 600;
}

small {
  font-size: 0.9375rem !important;
}

/* overwrite bootstrap arrows behaviour */
.dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
/* Global end */

/* Nav Filter start */
.searchBar {
  background-color: var(--softGray);
  border: none;
  border-radius: 0.3125rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.0255rem;
  color: #8c8282;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* color: #343434cc; // just the placeholder */
}

.filterDropdown {
  color: #343434;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.0125rem;
}

.boxShadowblue:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--darkBlueShadow);
}

/* Home end */

/* HomeItem start */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3.1em;
}
.twoLines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* line-clamp: 2; */
  -webkit-box-orient: vertical;
  height: 3rem;
}

.addToCartButton {
  background-color: var(--darkBlue);
  width: 80%;
  border: none;
}

.addToCartButton:hover {
  background-color: #042538;
  border: none;
}
.addToCartButton:focus {
  border: none;
  background-color: #042538;
  box-shadow: none !important;
}
.addToCartButton:active {
  background-color: #042538 !important;
  border: none;
  box-shadow: none !important;
  outline: 0;
}

.addToCartButton:disabled {
  background-color: #324d5d;
  border: none;
  cursor: not-allowed;
}

.grayOnHover:hover {
  background-color: #f0ebeb67;
}

.homeItemTitle {
  color: #343434;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

/* HomeItem end */

/* Login start */
.loginTitle {
  font-size: 1.5rem;
}

.h1SmScreen {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 500% !important;
  margin-bottom: 3rem !important;
  margin-top: 1rem;
  text-shadow: 3px 4px 5px #000000c2;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .h1SmScreen {
    font-size: 400% !important;
  }
}

.h1XsScreen {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-top: 1rem;
  text-shadow: 3px 4px 5px #979296;
}

.transparency-box {
  background-color: #e9e3e3a6;
  /* width: 70vw; */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(8px + 2vmin); */
  /* text-align: center; */
}
.login-modal {
  border: 1px solid #bdbdbd47;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 375px) and (max-width: 767.98px) {
  .login-modal {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.loginBG {
  background-image: url("../public/Bglogin.avif");
  background-repeat: no-repeat;
  background-size: cover; /* 100% */
  background-position: center;
  background-color: #cccccc;
  min-height: 100vh;
}

/* Login end */

/* Navbar start */
.navbar {
  background: #fff;
  color: #343434;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.cart-counter {
  position: absolute;
  top: 0;
  right: -5px;
  color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

/* Navbar end */

/* carousel start*/

.carouselImg {
  width: 80vw;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
}

.carouselImgReversed {
  width: 80vw;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
  transform: scaleX(-1);
}

.transparencywWhiteBox {
  background-color: #e9e3e3a6;
  color: black;
  border-radius: 5px;
}

.objectPosition {
  object-position: 50% 7%;
}

.bg-softGray-carousel {
  background-color: #fafafae5;
  padding-bottom: 3.56rem;
  padding-top: 2.81rem;
}
/* carousel end*/

/* footer start*/
.footer {
  font-size: 0.875rem;
  background-color: #fafafa;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.footerText {
  color: #343434;
}
/* footer end*/

/* item start */
.card.item {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
}
/* item end */

/* backoffice start*/
.bOMenu {
  background-color: #294b66;
  padding: 1rem;
}
/* backoffice end*/

/* Myaccount start */
.myAccountBg {
  background: url("https://images.unsplash.com/photo-1596440114792-d3e0ae1763f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 84vh;
  overflow: hidden;
}

.myAccountinputs {
  border: none;
  background-color: #f5f5f5;
}

.myAccountinputs:focus {
  background-color: #f5f5f5;
}

/* Myaccount end */

/*  CreateUser start*/
.bgRegistration {
  background-image: url("https://images.unsplash.com/photo-1558981000-f294a6ed32b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
/* CreateUser end */

/* forgotPass start */
.bgForgot {
  background-image: url("https://images.unsplash.com/photo-1659968982077-516324bb1c03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
/* ForgotPass end */

/* Categories accordion */
.mainCatTitle {
  color: #343434;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 1.06rem;
}
/*  */
/* cart modal */
.cartTitle {
  color: #343434;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.cartModal {
  border-radius: 0.75rem;
  background: #fafafa;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.totalCart {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
/*  */
/* Payment % resume start */
.bg-resume {
  border-radius: 0.25rem;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.reference {
  color: #343434;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.5rem; /* 266.667% */
  letter-spacing: 0.0125rem;
}

.softBolding {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}
/* Payment % resume end */
