/**
 * /* 404 NOT FOUND start
 */

/* 404 NOT FOUND end */

/* Global start */
.h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 1.5rem !important;
  text-shadow: 3px 4px 5px #979296;
}
.bg-main {
  background-color: #b6b2b2;
}

body {
  background: #868285 !important;
}
/* Global end */

/* Login start */

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  text-align: center;
}
.login-modal {
  border: 2px solid rgba(0, 0, 0, 0.089);
  padding: 4rem;
}

.login-small-font {
  font-size: calc(1px + 2vmin);
}

/* Login end */

/* Navbar start */

/* Navbar end */

/* Home start*/

.carouselImg {
  width: 700px;
  height: 400px;
}
/* Home end*/
