/* 404 NOT FOUND start */
h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
}
/* 404 NOT FOUND end */

/* Login start */

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  text-align: center;
}
.login-modal {
  border: 2px solid rgba(0, 0, 0, 0.089);
  padding: 4rem;
}

.login-small-font {
  font-size: calc(1px + 2vmin);
}
/* Login end */

/* Navbar start */

/* Navbar end */

/* Home start*/

/* Home end*/
